@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wn3r81');
  src:  url('fonts/icomoon.eot?wn3r81#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wn3r81') format('truetype'),
    url('fonts/icomoon.woff?wn3r81') format('woff'),
    url('fonts/icomoon.svg?wn3r81#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-down:before {
  content: "\ea43";
}
